/* footer */
.footer{
    background-color: #f4f4f4;
    width: 100%;
    height: 486px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__info{
    margin-left: 52px;

}

.footer__info-title{
    font-weight: 600;
    font-size: 20px;
    display: inline;
}

.footer__info-subtitle{
    display: block;
    margin-top: 25px;
    font-size: 14px;
    width: 325px;
}

.footer__info-btn{
    margin-top: 25px;
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    display: flex;
    width: 115px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.footer__info-btn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .3);
}

.footer__info-shop-count{
    margin-top: 27px;
    font-size: 12px;
    color: gray;
    display: block;
}

.footer__info-shop-btn{
    margin-top: 25px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #000;
    display: flex;
    width: 302px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    margin-bottom: 58px;
}

.footer__info-shop-btn:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, .3);
}

.footer:nth-child(4){
    padding-right: 100px;
}

.footer__column-title{
    color: #545454;
    font-size: 12px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer__column li{
    margin-bottom: 12px;
    font-size: 14px;
}

.footer__column a{
    margin-bottom: 12px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.footer__column span{
    font-size: 12px;
    display: block;
    width: 197px;
    margin-bottom: 12px;
}

.footer__text-info{
    border-top: 1px solid rgba(199, 198, 198, 0.3);
    width: 100%;
    display: flex;
}

.footer__text-info__column{
    margin-left: 52px;
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 50%;
}

.footer__text-info__column:last-child{
    margin-right: 120px;
}

.footer__text-info__column li{
    margin-bottom: 5px;
    color: #525252;
}

.footer__column ul li:hover{
    text-decoration: underline;
    color: #525252;
    cursor: pointer;
}

#footer__column-point{
    color: #545454;
    font-size: 12px;
    margin-bottom: 30px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

#footer__column-point:hover{
    color: #2b2b2b;
    cursor: pointer;
}

.footer__bottom{
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.footer__bottom-column__list{
    margin-left: 52px;
    display: flex;
}

.footer__bottom-column__list li::after{
    content: "|";
    margin: 0 10px;
    color: #999;
}

.footer__bottom-column__list a{
    color: #000;
    height: 10px;
    text-decoration: none;
}

.footer__bottom-column ul{
    display: flex;
    margin-right: 52px;
}

.footer__bottom-column__lang{
    margin-bottom: 38px;
}

.footer__bottom-column__lang li a{
    display: flex;
}

.footer__bottom-column img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px;
}

.footer__bottom-column a{
    color: #525252;
}