@import "css/reset.css";
@import "css/header.css";
@import "css/season-off.css";
@import "css/slide.css";

body{
    height: 1000vh;
    
}

::selection{
    background-color: #105a33;
    color: white;
    text-shadow: none;
}

.lacoste-event{
    margin-left: 52px;
}

.lacoste-event__title{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 33px;
}
