@import "css/reset.css";
@import "css/header.css";
@import "css/season-off.css";
@import "css/slide.css";
@import "css/lacoste-event.css";

body{
    height: 1000vh;
    
}

::selection{
    background-color: #105a33;
    color: white;
    text-shadow: none;
}

.inside{
    background-color: seagreen;
}

.inside-slider{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.inside__slider-title{
    margin-left: 52px;
    margin-bottom: 28px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50px;
    z-index: 99;
}

.inside__slider-title h4{
    font-size: 28px;
    font-weight: 600;
    margin-right: 20px;
}

.inside__slider-title__column{
    display: flex;
    
}

.inside-slider__bxslider{
    background-color: #0F3D23;

}

.inside-slider__bxslider li{
    width: 100%;
}

.bx-wrapper .bx-pager {
    text-align: center !important;
    font-size: 30px !important;
    font-family: Arial !important;
    font-weight: bold !important;
    color: #666 !important;
    padding-top: 20px !important;
    position: absolute !important;
    top: -18% !important;
    right: 72px !important;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    width: 5% !important; 
    top: -18%;
    font-size: 30px;
}

